@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@1,700&display=swap');
.Aimg{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.about{
    background-color:#7F8487;
    background-image: -webkit-linear-gradient(65deg, #7F8487 50%, #F7F7F7 50%);
  min-height: 480px;
min-width:auto;
}
.row{
    padding-top: 30px;
    padding-left: 10px;
    align-items: center;
}
.h3{
    text-align: center;
    padding-top: 30px;
    color: black;
}
.h1{
    font-family: 'Mulish', sans-serif;
}