@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@1,700&display=swap');

.works{
    color: #fff;
    background: linear-gradient(-45deg,#D5D5D5,#CDBE78, #ECA6A6, #398AB9);
}


.h1{
    text-align: center;
    padding-top: 30px;
    color: black;
    font-family: 'Mulish', sans-serif;
}
h3{
    color:#383838;
    margin-left: 20px;
}
.div1{
    text-align: left;
    margin-left: 50px;
}
.div2{
    text-align: right;
    margin-right: 50px;
}
.wimg{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    padding: 20px;
}
